<%= div_for holiday do %>
	<li>
		<%= simple_date(holiday.start_at) %> 
		<span class = 'actions'>
			<% if (holiday.start_at >= DateTime.now.beginning_of_day()) %> 
				<%= link_to "edit", edit_partner_holiday_path(holiday.work_plan.partner, holiday)%>
				<%= link_to "delete", partner_holiday_path(holiday.work_plan.partner, holiday), :confirm => 'Are you sure you want to delete this holiday?', :method => :delete, :remote => true %>
			<% end %>
		</span>
	</li>
<% end %>
