<h1> Calendar work plan for <%= simple_date(@calendar_date) %></h1>
<div class = "CalendarBreakdown">
	<h3>Break-down </h3>
	<h4>Who's working?</h4>
		Jason, Chris...
	<h4>Who's on Holiday?</h4>
		<div class = 'element'> Nicola</div>
	<h4>Which managers are in?</h4>
		<div class = 'element'> Dean, Jackie</div>
	<h4>Statistics Partners:</h4>
		<div class = 'element'>Total Managers: 2 </div>
		<div class = 'element'>Total Non-Managers: 24 </div>
		<div class = 'element'>Total Partners: 26 </div>
		<div class = 'element'> Sections:</div>
		Audio: 4
		Sasu: 6
		TV: 3	
</div>
<div class = "CalendarActions" >
	<%= link_to 'Back to Calendar', partners_url %> |
	<a> More Stats </a> |
	<a> Book OverTime </a> |
	<a> View Today's Bridge</a>
</div>

