<%= f.fields_for :competency do |competency| %>
	<div class="list_field">
		<%= f.label 'Competencies'%><br />
		<ul>
		<% for competency in Competency.all %>
			<li>
				<label>
					<%= check_box_tag 'partner[competency_ids][]', competency.id, @partner.competency_ids.include?(competency.id), :id => dom_id(competency) %> 
					<%= label_tag dom_id(competency), competency.name, :class => "check_box_label" %>
				</label>
			</li>
		<% end %>
		</ul>
	</div>
<% end %>



