
<% form_for @partner do |f| %>
  <!%= f.error_messages %>
  <%= render "#{@partner.current_step}_step", :f => f %>
  <div class="field">
	  <%= f.submit "Cancel", :name => "cancel_button" %> 
	  <%= f.submit "Back", :name => "back_button" unless @partner.first_step? %>
	  <%= f.submit "Continue" %> <!unless not @partner.current_step == @partner.last_step?>
	  <!%= f.submit "Create Partner" unless @partner.current_step == @partner.last_step? %>
  </div>
  <div class="field">
  </div>
  <div class="field">
  </div>
<% end %>
