<%= render @partner %>

<h3>Contact</h3>

<div id="contact">
	<%= render @partner.contact %>
</div>

<h3>Work Plan</h3>

<div id="workplan">
	<%= render @partner.work_plan %>
</div>

<%= render @partner.work_plan.weekly_rotas[0].shift_templates %>

