<%= render @partner %>
<p>
<div id="contact">
	<%= render @partner.contact %>
</div>

<div id="workplan">
	<%= render @partner.work_plan %>
</div>
</p>
<p class = "Navigation">
	<%= link_to "All Partners", partners_path%>
</p>
