<div class="fields">
	<%= f.label :sequence_no %>	
	<%= f.number_field :sequence_no %>
	<%= link_to_remove_fields "remove", f %> <br>
	
	<%= f.fields_for :shift_template do |shift_builder| %>
		<% render 'shift_template_fields', :f => shift_builder %>
	<% end %>
	
</div>

