<table cellspacing="0" cellpadding="0" class="DayCalendarHeader">
		<thead>
		<tr>
			<th colspan="2"><h3>	&lt;&lt; <%= date_link(date - 1.day) %></h3></th>
			<th colspan="3"><h3><%= simple_date(date) %></h3></th>
			<th colspan="2"><h3>	<%= date_link(date + 1.day) %> &gt;&gt;	</h3></th>
		</tr>
		</thead>
</table>


